@model Core.ViewModels.AdminDashboardViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_CompanyAdminLayout.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Sales Card -->
                    <div class="col-xl-4 col-md-4">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Student <span>| Student</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Model.StudentCount</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Revenue Card -->
                    <div class="col-xl-4 col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Teacher <span>| Teacher</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Model.TeacherCount</h6>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div><!-- End Revenue Card -->



                    <div class="col-xl-4 col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Course <span>| Course</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-laptop"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Model.CourseCount</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Revenue Card -->

                </div>
            </div><!-- End Left side columns -->

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Student Informations</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">FullName</th>
                                <th scope="col">Email</th>
                                <th scope="col">PhoneNumber</th>
                                <th scope="col">Date Register</th>
                            </tr>
                        </thead>
                        @if(Model.Student != null)
                        {
                            <tbody>
                                @foreach(var student in Model.Student)
                                {
                                    <tr>
                                        <th scope="row"></th>
                                        <td>@student.FullName</td>
                                        <td>@student.Email</td>
                                        <td>@student.PhoneNumber</td>
                                        <td>@student.DateRegister</td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                    <!-- End Table with hoverable rows -->

                </div>
            </div>

        </div>
    </section>

</main><!-- End #main -->





