@model IEnumerable<Core.Models.TrainingCourse>

@{
	ViewData["Title"] = "Training Courses";
	Layout = "~/Views/Shared/_CompanyAdminLayout.cshtml";
	var user = Session.GetCurrentUser();
	var companySetting = Session.GetCompanySettings();
	var link = "/Staff/Index";
	if (user.UserRole == Session.Constants.AdminRole)
	{
		link = "/Admin/Index";
	}
	else if (user.UserRole == Session.Constants.StudentRole)
	{
		link = "/Student/Index";
	}
}
<style>

	body {
		counter-reset: Serial; /* / Set the Serial counter to 0 /*/
	}

	tr td:first-child:before {
		counter-increment: Serial; /* / Increment the Serial counter /*/
		content: counter(Serial); /*  / Display the counter /*/
	}

	.table-avatar {
		cursor: pointer !important;
	}
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Training Courses</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Courses</li>
            </ol>
        </nav>
		<div class="col-auto float-right ml-auto">
			<a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_Course" style="margin-left:88%;"><i class="fa fa-plus"></i> Add Course</a>
		</div>
    </div>
	<!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
						<h5 class="card-title" style="text-align: center;">Training Courses</h5>

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">S/N</th>
									<th scope="col">Title</th>
									<th scope="col">Amount</th>
									<th scope="col">Status</th>
									<th scope="col">Duration</th>
									<th scope="col">TestDuration</th>
									<th scope="col">Description</th>
									<th scope="col">DateCreated</th>
									<th class="text-center no-sort">Action</th>
								</tr>
							</thead>
							@if (Model != null)
							{
								<tbody>
									@foreach (var course in Model)
									{
										<tr>
											<td>@course.Title</td>
											<td>@course.Amount</td>
											<td>@course.ProgramStatus</td>
											<td>@course.Duration</td>
											<td>@course.TestDuration</td>
											<td>
												<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#description_Modal"          onclick="getCourseDescriptionById('@course.Id')">View</button>
											</td>
											<td>@course.DateCreated.ToString("d")</td>
											<td class="text-right">
												<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upgrade_Course" onclick="getCourseById('@course.Id')">Edit</button>
												<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_Course" onclick="getCourseById('@course.Id')">Delete</button>
											</td>
										</tr>
									}
								</tbody>
							}
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>

	
</main><!-- End #main -->


<!-- Add Course Modal -->
<div class="modal custom-modal fade" id="add_Course" role="dialog">
	<div class="modal-dialog modal-md modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="modal-title text-center mb-3">Add Course</h5>
				<div class="row">
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Course Title<span class="text-danger">*</span></label>
							<input type="text" id="Title" class="form-control" required>
							<p class="text-danger" id="titleVDT" style="display: none;">Enter Course Title</p>
						</div>
					</div>
					
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Amount<span class="text-danger">*</span></label>
							<input type="number" id="Cost" class="form-control" required>
							<p class="text-danger" id="amtcVDT" style="display: none;">Enter Amount</p>
						</div>
					</div>
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Training Duration<span class="text-danger">*</span></label>
							<input type="text" id="Duration" class="form-control" required>
							<p class="text-danger" id="durationVDT" style="display: none;">Enter Duration</p>
						</div>
					</div>
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Test Duration (Minutes)<span class="text-danger">*</span></label>
							<input type="number" id="TestDuration" class="form-control" required>
							<p class="text-danger" id="testDurationVDT" style="display: none;">Enter Test Duration</p>
						</div>
					</div>
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Image<span class="text-danger">*</span></label>
							<input type="file" id="logoId" class="form-control" required>
							<p class="text-danger" id="testLogoVDT" style="display: none;">Enter Image</p>
						</div>
					</div>
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Program<span class="text-danger">*</span></label>
							<select class="form-control" id="programId" required asp-items="@(new SelectList(@ViewBag.Program,  "Id", "Name" ))"></select>
						</div>
					</div>
					<div class="col-md-12 pt-2">
						<div class="form-group">
							<label>Course Description<span class="text-danger">*</span></label>
							<textarea rows="3" class="form-control" id="Description" required></textarea>
							<p class="text-danger" id="descVDT" style="display: none;">Enter Course Description</p>
						</div>
					</div>
				</div>
				<div class="m-t-20 text-center pt-5">
					<button class="btn newBtn submit-btn btn-primary" type="button" id="submit_btn" onclick="CreateTrainingCourse('CreateTrainingCourse')">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Add Course Modal -->
<!-- Edit Course Modal -->
<div class="modal custom-modal fade" id="upgrade_Course" role="dialog">
	<div class="modal-dialog modal-md modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5 class="modal-title text-center mb-3">Edit Course</h5>
				<div class="row">
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Course Title<span class="text-danger">*</span></label>
							<input type="text" id="edit_Id" hidden>
							<input type="text" id="editTitle" class="form-control" required>
							<p class="text-danger" id="titleVDT" style="display: none;">Enter Course Title</p>
						</div>
					</div>

					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Amount<span class="text-danger">*</span></label>
							<input type="number" id="editCost" class="form-control" required>
							<p class="text-danger" id="amtcVDT" style="display: none;">Enter Amount</p>
						</div>
					</div>
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Training Duration<span class="text-danger">*</span></label>
							<input type="text" id="editDuration" class="form-control" required>
							<p class="text-danger" id="durationVDT" style="display: none;">Enter Duration</p>
						</div>
					</div>
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Test Duration (Minutes)<span class="text-danger">*</span></label>
							<input type="number" id="editTestDuration" class="form-control" required>
							<p class="text-danger" id="testDurationVDT" style="display: none;">Enter Test Duration</p>
						</div>
					</div>
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Image<span class="text-danger">*</span></label>
							<input type="file" id="editlogoId" class="form-control" required>
							<p class="text-danger" id="testLogoVDT" style="display: none;">Enter Image</p>
						</div>
					</div>
					<div class="col-md-6 pt-2">
						<div class="form-group">
							<label>Program<span class="text-danger">*</span></label>
							<select class="form-control" id="editProgramId" required asp-items="@(new SelectList(@ViewBag.Program,  "Id", "Name" ))"></select>
						</div>
					</div>
					<div class="col-md-12 pt-2">
						<div class="form-group">
							<label>Course Description<span class="text-danger">*</span></label>
							<textarea rows="3" class="form-control" id="editDescription" required></textarea>
							<p class="text-danger" id="descVDT" style="display: none;">Enter Course Description</p>
						</div>
					</div>
				</div>
				<div class="m-t-20 text-center pt-5">
					<button class="btn newBtn submit-btn btn-primary" type="button" id="submit_btn" onclick="EditTrainingCourse('EditTrainingCourse')">Update</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Edit Course Modal -->
<!-- Delete Course Modal -->
<div class="modal custom-modal fade" id="delete_Course" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-header">
					<h3 style="text-align:center;">Delete Course</h3>
					<input class="form-control" type="text" hidden id="Delete_Id">
					<p style="text-align:center;">Are you sure you want to delete this course?</p>
				</div>
				<div class="modal-btn delete-action">
					<div class="row">
						<div class="col-6">
							<a class="btn btn-primary continue-btn" style="margin-left:20%;" onclick="TrainingCoursePost('DeleteTrainingCourse')">Delete</a>
						</div>
						<div class="col-6" style="padding-left:20%;">
							<a data-dismiss="modal"  class="btn btn-primary cancel-btn">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Delete Course Modal -->
<!-- VIEW TRAINING OUTLINE Modal -->
<div class="modal custom-modal fade" id="description_Modal" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-header">
					<h3 style="text-align:center;">Description Course</h3>
					<input class="form-control" type="text" hidden id="description_Id">
				</div>
				<div class="modal-btn delete-action">
					<div class="row">
						<div class="col-md-12 pt-2">
							<div class="form-group">
								<textarea type="text" id="description" class="form-control" readonly rows="3"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /VIEW TRAINING OUTLINE Modal -->

<script>
	function ViewOutline2(id) {
		$.ajax({
			type: 'GET',
			url: '/Admin/GetCourseDescriptionById',
			data: { id: id },
			dataType: 'json',
			success: function (data) {
				if (!data.isError) {
					var outlin = data.split("\n");
					document.getElementById('view_Outline').innerHTML = "<ul><li>" + outlin.join("</li><li>") + "</li></ul>";
				}
			}
		});
	}
	var tables = document.getElementsByTagName('tbody');
	var table = tables[tables.length - 1];
	var rows = table.rows;
	for (var i = 0, td; i < rows.length; i++) {
		td = document.createElement('td');
		td.appendChild(document.createTextNode(i + 1));
		rows[i].insertBefore(td, rows[i].firstChild);
	}
	$(document).ready(function () {
		$('#myInput').keyup(function () {
			debugger;
			var value = $("#myInput").val().toLowerCase();

			$("#myTable tr").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>


