@model Core.ViewModels.ApplicationUserViewModel
@{
    ViewData["Title"] = "Registration Page";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!-- Page Wrapper -->
<div class="container mb-3">
    <!-- Account Logo -->
    <div class="mb-4 pb-4">
    </div>
    <!-- Page Content -->
    <div class="content container-fluid pt-5">

        <div class="card mt-5 p-3">
            <div class="account-logo" style="text-align: center; margin-bottom: 30px;">
                <img />
                <a href="index.html"><img src="~/edu/admin/assets/images/dsa png[3].png" style="max-width: 150px; height: auto;"></a>
            </div>
            <div class="row">
                <div class="col-md-10 m-auto">
                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row mb-2">
                            <div class="col-sm-12 mt-4">
                                <h3 class="page-title text-center">Student Registration</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /Page Header -->
                    <div class="row mb-2">
                        <input class="form-control" id="companyId"  type="text" hidden>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="FirstName">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" id="studentFirstName" name="FirstName" type="text" value="" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="LastName">Last Name <span class="text-danger">*</span></label>
                                <input class="form-control" id="studentLastName" name="LastName" type="text" value="" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number <span class="text-danger">*</span></label>
                                <input class="form-control" id="studentPhoneNumber" type="number" required>
                                <p class="text-danger" id="phoneWarningMsg" hidden></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input class="form-control" id="studentEmail" type="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="Password">Password <span class="text-danger">*</span></label>
                                <input class="form-control" id="studentPassword" name="Password" type="password" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="ConfirmPassword">Confirm Password <span class="text-danger">*</span></label>
                                <input class="form-control" id="studentConfirmPassword" name="ConfirmPassword" type="password" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="ProgrammingLanguagesExps">Programming Languages Experience</label>
                                <input class="form-control" id="studentProgrammingLanguagesExps" name="ProgrammingLanguagesExps" type="text" value="">
                            </div>
                        </div>
                       
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="HasAnyProgrammingExp">Do you have any programming experience? <span class="text-danger">*</span></label>
                                <select class="form-control" id="studentHasAnyProgrammingExp" name="HasAnyProgrammingExp" required asp-items="@(new SelectList(@ViewBag.YesOrNo,  "Id", "Name" ))">
                                </select>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row mb-2">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="ApplicantResideInEnugu">Do you reside in Enugu? <span class="text-danger">*</span></label>
                                <select class="form-control" id="studentApplicantResideInEnugu" name="ApplicantResideInEnugu" required asp-items="@(new SelectList(@ViewBag.YesOrNo,  "Id", "Name" ))">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="HasLaptop">Do you have a laptop? <span class="text-danger">*</span></label>
                                <select class="form-control" id="studentHasLaptop" name="HasLaptop" required asp-items="@(new SelectList(@ViewBag.YesOrNo,  "Id", "Name" ))">
                                </select>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <textarea class="form-control" id="studentAddress" name="Address" required></textarea>
                                @*  <input class="form-control" id="Address" name="Address" type="text" value="Address"> *@
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="ReasonForProgramming">Reason for Programming</label>
                                <textarea class="form-control" id="studentReasonForProgramming" name="ReasonForProgramming" required></textarea>
                            </div>
                        </div>


                    </div>
                    <div class="tacbox row mt-3">
                        <div class="col">
                            <input id="termsCondition" type="checkbox" required>
                            <label for="checkbox" generated="true"> I agree to these <a href="#" data-toggle="modal" data-target="#myModal">Terms and Conditions</a>.</label>
                        </div>
                        <div class="col">
                            <span>Already have an account? <a asp-action="Login" asp-controller="Accounts">Login Instead</a></span>
                        </div>
                    </div>
                    <div class="submit-section mb-3" style="margin-left:40%;">
                        <button class="btn btn-primary submit-btn" id="submit_btn" onclick="registerStudent()" style="background-color:#840170;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>
<!-- /Page Wrapper -->

